*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body > * {
	padding: 0 90px 0 90px;
font-family: 'Architects Daughter', cursive;}

ul{
	list-style: none;
}

a{
	color: #44ACED;
}

button{
	background-color: #44ACED;
	color: white;
	padding: 5px;
	border: none;
	border-radius: 7%;
}

.salesAlert{
	overflow:hidden;
}

.salesAlert li{
	float:left;
	margin: 15px 15px 15px 0;
	padding: 4px;

}

.salesAlert{
  background: #EC6634;
  color: white;
}

.salesAlert li:first-child{
	background: #C7532C;
	padding-left: 8px;
	padding-right: 8px;
}

nav{
	overflow: hidden;
}

nav ul, nav img{
	float: left;
}

nav ul{
	margin-left: 50px;
}


nav li{
	float:left;
	margin-right: 25px;
	line-height: 250px;
	font-size: 1.5em;
}

.actionsContainer{
  float:right;
  width: 400px;
  text-align: right;
  margin-top: 35px;
}

.actionsContainer div:not(.sprite){
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
}

.actionsContainer .cartContainer{
	border: 1px solid #f4f4f4;
	border-radius: 5%;
	width: 120px;
	text-align: left;
	float: left;
	padding: 10px;
		vertical-align: top;

}

.actionsContainer .cartContainer > *{
	margin-right: 10px;
}

.cartContainer p{
	float: left;
}

.cartContainer div:last-child{
	background: grey;
	border-radius: 15%;
	padding: 0 8px 2px 8px;
	float: left;
	margin: 0;
	color: white;
}

div.cart{
	background: url('assets/sprite@2x.png') no-repeat -90px -2px;
	height: 24px;
	width: 28px;
	float: left;
}

.actionsContainer div.search{
	background: url('assets/sprite@2x.png') no-repeat -30px 0;
	width: 26px;
	height: 26px;
}

.actionsContainer form{
	border: 1px solid grey;
	border-radius: 3%;
	overflow: hidden;
	padding: 10px;
}

.actionsContainer form input, .actionsContainer form div{
	float: left;
}

.actionsContainer input{
	border: none;
	padding-left: 10px;
}

.navBorder{
	z-index: 4;
	position: absolute;
	height: 8px;
	width: 100%;
	padding: 0;
}

.navBorder, footer{
	background-image: url('assets/perforated-bottom@2x.png');
	background-repeat: repeat-x;
}

.heroImg{
  background: #f4f4f4;
  text-align: center;
  display: block;
  overflow: hidden;  
}

.heroImg div{
	display: inline-block;
	margin:auto;
	z-index: 1;
}

.heroImg h2{
	padding: 80px 0 80px 0;
	font-size: 3em;
}

.featuredProducts{
	text-align: center;
	padding: 40px 90px 40px 90px;
}

.featuredProducts div:not(.story){
	margin: auto;
	display: inline-block;
	margin: 0 20px 0 20px;
	width: calc(33% - 60px);
	position: relative;
}

.featuredProducts .altProducts:last-child{
	margin:0;
}

.featuredProducts p{
	position: absolute;
	top: 15px;
	right: 15px;
}

.featuredProducts img{
	width: 100%;
}

.featuredProducts .story{
	padding-top: 40px;
}

.story h3{
	margin-bottom: 15px;
	font-size: 2em;
}

.social{
	background-image: url('assets/hatch-light@2x.png');
	background-repeat: repeat-x;
	text-align: center;
	padding-top: 80px;
	margin-top: 40px;
}

.social div> *{
	margin-bottom: 10px;
}

.social div:not(.socialIcon){
	display: inline-block;
	margin: auto;
	text-align: left;
	vertical-align: top;
	width: 200px;
	width: 20%;
}

.social > div:not(:last-child){
	padding-right: 30px;
}

.social img{
	width: 100%;
}

.socialIcon{
	margin-right: 5px;
}

 .facebookIcon{
	background: url('assets/sprite@2x.png') no-repeat -270px 0;
	background-size: 400px 200px;
	width: 35px;
	height: 35px;
   display: inline-block;
}
 .twitterIcon{
 	background: url('assets/sprite@2x.png') no-repeat -270px -80px;
	background-size: 400px 200px;
	width: 35px;
	height: 35px;
   display: inline-block;
 }

 .pintrestIcon{
 	background: url('assets/sprite@2x.png') no-repeat -270px -40px;
	background-size: 400px 200px;
	width: 35px;
	height: 35px;
   display: inline-block;
 }

footer{
	margin-top: 30px;
	background: #f4f4f4;
	overflow: hidden;
	padding:45px 80px 40px 80px;
}

footer ul{
	float: left;
	margin-right: 30px;
}

footer ul li:first-child{
	font-weight: bold;
	padding-bottom: 5px;
}

.footerContact{
	float: right;
	background: #A2AFC0;
	padding: 15px;
	border-radius: 3%;
	width: 280px;
	color: white;
}

.footerContact h3{
	font-size: 1.5em;
	margin-bottom: 15px;
}

.footerContact button{
	float: right;
	font-size: 1.2em;
	border: 1px solid lightblue;
}

.footerContact .contactInfo{
	float: left;
}
